
nav {
  text-align: right;
}

nav a {
  display: inline-block;
  margin-left: 1rem;
  color: #2f2f3b;
  text-decoration: none;
  transition: color 200ms ease, transform 200ms ease;
}

nav a:hover {
  color: #5e5e6a;
  transform: scale(1.05);
}

body {
  display: flex;
  flex-direction: column;
}

footer {
  position-anchor: bottom;
  padding: 2rem 0;
  background-color: #0f172a;
  border-top: 1px solid rgba(255,255,255,0.08);
}

.footer-inner {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
  color: #94a3b8;

  font-size: 0.9rem;
  letter-spacing: 0.05em;
}

.homeCover::before {
  content: "";
  position: relative;
  inset: 0;
}

.homeCover {
  position: relative;
  z-index: 0;
  border: 2px solid red;
}

.homeCover-img {
  position: absolute;
  background-image: url("../photos/DSC00647.JPG");
  background-position: center;
  background-repeat: no-repeat;
  z-index: 1;
  border: 2px solid red;


  width: 100%;
  height: 25%;
}

.homeCover-content {
  position: absolute;
  text-align: center;
  height: 50%;
  width: 50%;
  border: 2px solid red;

  z-index: 2;
}