
nav {
  text-align: right;
}

nav a {
  display: inline-block;
  margin-left: 1rem;
  color: #2f2f3b;
  text-decoration: none;
  transition: color 200ms ease, transform 200ms ease;
}

nav a:hover {
  color: #5e5e6a;
  transform: scale(1.05);
}

.homeCover::before {
  content: "";
  position: absolute;
  inset: 0;
}

.homeCover {
  position: relative;
  z-index: 0;
  outline: #2f2f3b;
}

.homeCover-img {
  position: absolute;
  background-image: url("../photos/DSC00647.JPG");
  background-position: center;
  background-repeat: no-repeat;
  z-index: 1;
  outline: #d08030;


  width: 100%;
  height: 25%;
}

.homeCover-content {
  position: absolute;
  text-align: center;
  height: 50%;
  width: 50%;
  outline: #2121bd;

  z-index: 2;
}