
.homeCover {
  position: relative;
  z-index: 0;

  &::before {
    content: "";
    position: absolute;
    inset: 0;
  }

  .homeCover-img {
    position: absolute;
    background-image: url("../photos/DSC00647.JPG");
    width: 100%;
    height: 25%;
    z-index: 1;
  }

  .homeCover-content {
    position: absolute;
    height: 50%;
    width: 50%;
    z-index: 2;
  }
}