
h1, h2, h3 {
  text-align: center;
}

body {
  margin: 0;
  padding: 0;
}

.homeCover {
  margin: 0;
  padding: 0;

  position: relative;
  height: 35vh;

  display: flex;
  justify-content: center;
  align-items: center;

  overflow: hidden;
}

.homeCover-img {
  margin: 0;
  padding: 0;

  position: absolute;
  inset: 0;
  background-image: url("../photos/DSC00647.JPG");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 0;
}

.homeCover-content {
  margin: 0;
  padding: 0;
  width: 100vw;
  position: relative;
  z-index: 2;
  text-align: center;
  color: white;
}