
body {
  margin: 0;
  padding: 0;
}

.navbar {
  margin: 0;
  padding: 0;
  position: absolute;   /* sits over hero */
  top: 0;
  left: 0;
  width: 100%;

  padding: 20px 40px;
  z-index: 10;

  display: flex;
  justify-content: flex-end; /* move links to right */
}

.navbar nav a {
  margin: 0;
  padding: 0;
  color: white;
  text-decoration: none;
  font-weight: 500;
  margin-left: 30px;
  font-size: 1rem;
  position: relative;
}

.navbar nav a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 0%;
  height: 2px;
  background: white;
  transition: width 0.3s ease;
}

.navbar nav a:hover::after {
  width: 100%;
}


.homeCover {
  margin: 0;
  padding: 0;

  position: relative;
  height: 35vh;

  display: flex;
  justify-content: center;
  align-items: center;

  overflow: hidden;
}

.homeCover-img {
  margin: 0;
  padding: 0;

  position: absolute;
  inset: 0;
  background-image: url("../photos/DSC00647.JPG");
  background-size: cover;
  background-position: center 70%;
  background-repeat: no-repeat;
  z-index: 0;
}

.homeCover-content {
  margin: 0;
  padding: 0;
  width: 100%;
  position: relative;
  z-index: 2;
  text-align: center;
  color: white;
}