
body {
  margin: 0;
  padding: 0;
}

.homeCover {
  position: relative;
  height: 35vh;

  display: flex;
  justify-content: center;
  align-items: center;

  overflow: hidden;
}

.homeCover-img {
  position: relative;
  inset: 0;
  background-image: url("../photos/DSC00647.JPG");
  background-size: cover;
  background-position: center 90%;
  background-repeat: no-repeat;
  z-index: 0;
}

.homeCover-content {
  position: relative;
  z-index: 2;
  text-align: center;
  color: white;
}