
nav {
  position: absolute;
  text-align: right;
  z-index: 5;
  height: 5%;
  background-color:#1b1b1fc0;
}

nav a {
  display: inline-block;
  margin-left: 1rem;
  color: #2f2f3b;
  text-decoration: none;
  transition: color 200ms ease, transform 200ms ease;
  size: 1px;
}

nav a:hover {
  color: #5e5e6a;
  transform: scale(1.05);
}

.homeCover {
  display: flex;
  justify-content: center;
  align-items: center;       

  height: 25vh;         
  position: relative;
  overflow: hidden;
}

.homeCover-img {
  position: absolute;
  inset: 0;
  background-image: url("../photos/DSC00647.JPG");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 0;
}

.homeCover-content {
  position: relative;  
  z-index: 2;
  text-align: center;
  color: white;
}