---
---

nav {
  position: relative;
  text-align: right;
  margin: auto;
  background-color: transparent;
  color:adjust-hue($color: #2f2f3b, $degrees: 0);
  &:hover {
    color:adjust-hue($color: #5c5c68, $degrees: 0);
    text-size-adjust: 110px;
  }
}

.homeCover {
  position: relative;
  z-index: 0;

  &::before {
    content: "";
    position: absolute;
    inset: 0;
  }

  .homeCover-img {
    position: absolute;
    background-image: url("../photos/DSC00647.JPG");
    width: 100%;
    height: 25%;
    z-index: 1;
  }

  .homeCover-content {
    position: absolute;
    text-align: center;
    height: 50%;
    width: 50%;
    z-index: 2;
  }
}