

nav {
  position: relative;
  text-align: right;
  margin: auto;
  background-color: transparent;
  color: #2f2f3b;
}

nav:hover {
  color: #5e5e6a;
  font-size: 1.1rem;
}

.homeCover {
  position: relative;
  z-index: 0;

  &::before {
    content: "";
    position: absolute;
    inset: 0;
  }

  .homeCover-img {
    position: absolute;
    background-image: url("../photos/DSC00647.JPG");
    background-position: center;
    background-repeat: no-repeat;
    z-index: 1;

    width: 100%;
    height: 25%;
  }

  .homeCover-content {
    position: absolute;
    text-align: center;
    height: 50%;
    width: 50%;
    z-index: 2;
  }
}